*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.loa
*.env
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.glsdefs
*.ist
*.lot
svg-inkscape/
PlotNeuralNet/
Datasets/
Modelos/
.ipynb_checkpoints/
